body {
	background-image: url(../pictures/cake.jpg);
	background-size: 100% 170%;
}

/*MEDIA QUERIES*/
/*TABLET*/
@media (min-width: 798px) {

	body {
		background-size: 100% 200%;
	}
}

/*DESKTOP*/
@media (min-width: 1024px) {

	body {
		background-size: 100% 170%;
	}
}