body {
	background-image: url(../pictures/background.jpg);
	background-size: 100%  120%;
}

.container {
	display: block;
}

.underline {
	text-decoration: underline;
}

.bold {
	font-weight: bold;
}

.halfscreen {
	vertical-align: top;
	display: inline-block;
	width : 40%;
}

.halfscreen h3, .halfscreen p, .halfscreen ul, p {
		font-size: 1em;
}

h1, .bold, .halfscreen h3 {
	color: #B40404;
}

/*MEDIA QUERIES*/
/*TABLET*/
@media (min-width: 798px) {

	body {
		background-size: 100% 115%;
	}
	
	.halfscreen h3, .halfscreen p, .halfscreen ul, p {
		font-size: 1.25em;
	}
}

/*DESKTOP*/
@media (min-width: 1024px) {

	body {
		background-size: 100% 110%;
	}

	.halfscreen h3, .halfscreen p, .halfscreen ul, p {
		font-size: 1.5em;
	}
}