body {
	background-image: url(../pictures/pastries.jpg);
	background-size: 100% 120%;
}

/*MEDIA QUERIES*/
/*TABLET*/
@media (min-width: 798px) {

	body {
		background-size: 100% 120%;
	}
}

/*DESKTOP*/
@media (min-width: 1024px) {

	body {
		background-size: 100% 110%;
	}
}